p {
  margin-left: 15px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.missing-credit {
  list-style: none;
  margin: -6px 0 0 20px;
  li:before {
    content: '✔';
    margin-left: -1em;
    margin-right: .100em;
  }
}
