@import '../../variables';

a {
  color: #456321;
}

.order-status, #congrats-card, #please-be-sure-card {
  text-align: center;
  padding: 10px;
}

md-card-subtitle {
  margin-top: 15px;
  text-align: center;
}

.os-form-container {
  max-width: 550px;
  border-top: 5px solid $primary-color;
}

#place-order {
  margin-bottom: 10px;
}