@import '../../variables';

a {
  color: #456321;
}

.earnings {
  margin-bottom: 10px;
  .cell {
    width: 50%;
  }
  @media screen and (max-width: 580px) {
    .table {
      display: table;
    }
  }
  .row .cell {
    font-size: 14px;
  }
}

.order-status, #congrats-card, #please-be-sure-card {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

md-card-subtitle {
  margin-top: 15px;
  text-align: center;
}

.os-form-container {
  max-width: 550px;
  border-top: 5px solid $primary-color;
}

#place-order {
  margin-bottom: 10px;
}