a:link {
    color: #5a822b;
}

#announcements-section {
  h5 {
    text-align: center;
    font-size: 18px;
  }
  p {
    text-align: justify;
  }
}

#current-status-section {
  p {
    margin-bottom: 0px;
  }
  button {
    margin-top: 5px;
  }
}

.link-rules ul li.warn {
  text-align: left !important;
}

md-card {
  margin-bottom: 5px;
}

md-slide-toggle {
  display:  table;
  margin: 10px auto;
}

.os-status-page-section {
  width: 90%;
  max-width: 615px;
  margin: 0 auto;
}

.ref-select-row {
  text-align: center;
}

#referral-link-section {
  md-card-content {
    :nth-child(1) {
      text-align: center;
    }
    :nth-child(2) {
      text-align: justify;
    }
  }
}

#referrals-table-section {
  overflow: scroll;
}

.table {
  margin: 5px 0 10px 0;
}