<md-card class="os-page-container">
  <div class="os-status-page-section">
    <md-card *ngIf="user?.hold" class="os-message-card warn-background white">
      <h5>Your Account is on Hold</h5>
      <p>{{user.holdReason}}</p>
      <pre>{{user.holdMessage}}</pre>
    </md-card>
  </div>
  <div class="os-status-page-section">
    <md-card id="announcements-section" *ngIf="showAnnouncements">
      <md-card-title class="primary">Announcements</md-card-title>
      <md-card-content>
        <h5>Welcome to Level Rewards!</h5>
        <p>During our preview period, the offers are fully functional and you can sign users up and start earning money. However, we
          will be making daily updates which will include design changes, new features and functionality improvements.
        </p>
        <br>
        <p>If you have any comments, suggestions or have a support request, just click on the support tab and send us a support
          ticket.
        </p>
      </md-card-content>
    </md-card>
  </div>
  <div class="os-status-page-section">
    <md-card id="current-status-section">
      <md-card-title class="primary">Your Current Status</md-card-title>
      <md-card-content *ngIf="loaded$ | async">
        <p>Welcome {{user?.firstName}}!</p>
        <p><b>You are currently on level:</b> {{user?.currentLevel}}</p>
        <p>
          <b>You have:</b> {{(creditTotal$ | async) | number:'1.2-2'}} credits
          <span *ngIf="(credits$ | async).length > 0" style="text-decoration: underline; cursor: pointer" (click)="creditsShown ? creditsShown = false : creditsShown = true">
          {{creditsShown ? 'Hide' : 'Show'}}
          </span>
        </p>
        <p><b>You can currently earn up to <em>${{user?.currentLevel * 5 | number:'1.2-2'}}</em> per referral</b></p>
        <p><b>Get {{(user?.currentLevel + 1) - (creditTotal$ | async) | number:'1.2-2' }}  more credit(s) and reach level {{user?.currentLevel + 1}} and earn up to ${{(user?.currentLevel + 1) * 5}} per referral.  </b></p>
        <ng-container *ngIf="creditsShown">
          <div class="table">
            <ng-container *ngFor="let credit of (credits$ | async)">
              <div class="row">
                <div class="cell name-col">
                  {{ credit.offerName | slice:0:18 }}
                </div>
                <div class="cell value-col" [ngClass]="{'warn': !credit.active}">
                  {{ credit.active ? (credit.creditValue | number:'1.2-2') : 'Revoked'}}
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="user?.currentSponsor">
          <p><b>Your Sponsor is:</b></p>
          <p>{{user?.currentSponsor}} &#60;{{user?.currentSponsorEmail}}&#62;</p>
        </ng-container>
        <ng-container *ngIf="!user?.currentSponsor">
          <p><b>You have no sponsor</b></p>
          <p>If you do have sponsor and you know their username, enter it below to connect your accounts</p>
          <form [formGroup]="sponsorForm" (ngSubmit)="submitSponsor()">
            <os-form-input class="os-form-input" placeholder="Sponsor Username" controlName="sponsorUserName" [form]="sponsorForm"></os-form-input>
            <button md-raised-button color="primary" class="white" style="max-width: 105%" [disabled]="sponsorForm.invalid">Connect My Account to Sponsor</button>
          </form>
        </ng-container>
      </md-card-content>
    </md-card>
  </div>
  <div class="os-status-page-section">
    <md-card id="selected-prize-section">
      <md-card-title class="primary">Your Selected Prize</md-card-title>
      <os-selected-prize [changePrize]="changePrize" [form]="selectPrizeForm" [prize]="prize$ | async" [prizes]="prizes$ | async"
        [selectedPrizeLabels]="selectedPrizeLabels$ | async" [selectedPrizeValues]="selectedPrizeValues$ | async" (cancelPrizeChange)="cancelPrizeChange()"
        (changeSelectedPrize)="changeSelectedPrize()">
        </os-selected-prize>
    </md-card>
  </div>
  <div class="os-status-page-section">
    <md-card id="referral-link-section">
      <md-card-title class="primary">Your Referral Link</md-card-title>
      <md-card-content>
        <p><a [href]="'https://levelrewards.com/register?ref=' + user?.username" target="_blank">https://levelrewards.com/register?ref={{user?.username}}</a></p>
        <ul class="link-rule">
          <li class="warn" style="text-align: left"><b>Do Not Spam Your Link</b></li>
          <li class="warn" style="text-align: left"><b>Do Not Sign up Anyone In Your Household</b></li>
          <li class="warn" style="text-align: left"><b>Do Not Share Internet Connection With Your Signups</b></li>
          <li class="warn" style="text-align: left"><b>Do Not Create Multiple Accounts</b></li>
        </ul>
        <p>
          Users must sign up immediately after clicking your link for you to receive credit for them. Once they sign up, their account
          will be linked to yours unless user requests a transfer.
        </p>
      </md-card-content>
    </md-card>
  </div>
  <div class="os-status-page-section">
    <md-card id="referrals-table-section">
      <md-card-title class="primary">Your Referrals</md-card-title>
      <ng-container *ngIf="(referrals$ | async)?.length > 0">
        <os-referrals-table
          [referrals]="referrals$ | async"
          [showHidden]="showHidden.value"
          (getReferral)="getReferral($event)"
          (selectReferral)="selectReferral($event)"
          (sortBy)="sortBy($event)">
          </os-referrals-table>
          <div class="ref-select-row">
            <md-select [formControl]="referralSelect">
              <md-option value=" ">- CHOOSE OPTION -</md-option>
              <md-option value="hide">HIDE</md-option>
              <md-option value="show">SHOW</md-option>
              <md-option value="remove">REMOVE</md-option>
            </md-select>
            <button md-raised-button class="white" color="accent" (click)="applyToChecked()" [disabled]="!selectedReferralIds.length">APPLY</button>
          </div>
          <md-slide-toggle [formControl]="showHidden" color="primary">Show Hidden</md-slide-toggle>
        </ng-container>
        <md-card-content *ngIf="(referrals$ | async)?.length <= 0">
          You do not have any referrals. Be sure to share your referral link. Tell any missing referrals to enter in your username
          on the 'Your Current Status' section of their Status page if they signed up and are not referred.
        </md-card-content>
    </md-card>
  </div>
  <os-footer></os-footer>
</md-card>