@import '../../variables.scss';

a {
  color: #74a838;
}

md-card-title {
  color: $primary-color-x-dark;
}

md-input {
  color: $primary-color-x-dark;
}

select-input {
  display: block;
  margin: 15px auto 15px;
}

.household-text {
  font-size: 9px;
  margin-top: -17px;
  position: absolute;
  right: 15px;
  color: #618e2f;
}

.os-agree-checkbox {
  margin: 5px auto 15px;
}

.os-form-container {
  border-top: 5px solid $primary-color;
}

.receive-prize {
  width: 100%;
  overflow: hidden;
  left: -4px;
}

#referred-by {
  margin-top: 15px;
  margin-bottom: -5px;
}

#registration-text {
  padding: 10px;
  font-size: 12px;
  margin-bottom: 15px;
}