@import '../../variables.scss';

a {
  color: #74a838;
}

md-card-title {
  color: $primary-color-x-dark;
}

md-input {
  color: $primary-color-x-dark;
}

select-input {
  display: block;
  margin: 15px auto 15px;
}

@media screen and (max-width: 465px) {
  :host /deep/ .md-checkbox-layout .md-checkbox-label {
    line-height: 14px;
  }
}

.os-agree-checkbox {
  margin: 5px auto 15px;
}

.os-form-container {
  border-top: 5px solid $primary-color;
}

.os-title-card {
  max-width: 500px;
}

.receive-prize {
  width: 100%;
  overflow: hidden;
  left: -4px;
}

#referred-by {
  margin-top: 15px;
  margin-bottom: -5px;
}

#register-top {
  width: 160%;
  margin-left: 50%;
  transform: translateX(-50%);
  @media screen and (min-width: 600px) {
    width: 100%;
  }
}

#registration-text {
  padding: 10px;
  font-size: 12px;
  margin-bottom: 15px;
}

.register-page-container {
  overflow: hidden;
}