.close-button {
  margin-top: 5px;
  width: 100%;
}

a[href^='tel:'],
a[href^='mailto:'] {
  color: #8bc34a; // text-decoration: none;
}

.referral-email {
  margin: -12px 0 0 -9px;
  white-space: nowrap;
}

.referral-phone {
  margin: -19px 0 -8px -9px;
  white-space: nowrap;
}

.icon-button {
  mat-icon {
    position: relative;
    top: 7px;
  }
}

.name-col {
  width: 70%;
}

.value-col {
  width: 30%;
}

.referral-details {
  border-bottom: 1px solid #ffe1ad;
  border-top: 1px solid #ffe1ad;
  color: #5b8a24;
}

.referral-details-container {
  font-size: 14px;
}

.table {
  margin: 5px 0 5px;
}

.table-container {
  max-height: 150px;
  overflow: scroll;
}
