.ref-footer {
  width: 100%; // display: block;
  overflow: hidden;
  text-align: center;
}

::ng-deep .mat-select-content {
  font-size: 14px;
}

.footer-td {
  padding: 4px 0 !important;
  .show-hidden {
    text-align: center;
    height: 30px;
    border-top: 1px solid #e0e0e0;
    padding-top: 8px;
    margin-top: 5px;
  }
}

mat-option {
  text-align: center;
}

mat-slide-toggle {
  padding: 5px;
}

.actions-td,
.actions-th {
  text-align: right;
}

.referrals-table {
  width: 100%;
}

.referrals-table-container {
  margin: 0 auto;
}

.highlight {
  background: #f3f3f3;
}

.primary-bold {
  color: #8bc34a;
  font-weight: bold;
}

#green-key {
  background: green;
  width: 14px;
  height: 14px;
}

#reload-referrals {
  position: relative;
  top: 5px;
  left: 22px;
}

.row.header {
  cursor: pointer;
}

.white-background {
  background: white;
}

@media screen and (max-width: 413px) {
  .hide-1,
  .hide-2 {
    display: none;
  }
}

@media screen and (min-width: 413px) and (max-width: 500px) {
  .hide-1 {
    display: none;
  }
}

.last-cell {
  white-space: nowrap;
  width: 100%;
}

.stripe-2 {
  color: black;
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, #ccc 10px, #ccc 20px),
    linear-gradient(to bottom, #eee, #999);
}

@media screen and (max-width: 390px) {
  .hide-mail {
    display: none;
  }
}

.long-username {
  display: none;
  @media screen and (min-width: 366px) {
    display: inline;
  }
}

@media screen and (min-width: 366px) {
  .short-username {
    display: none;
  }
}
