<div class="os-table-container">
  <div class="table">
    <div class="row header">
      <div class="cell hide-1" (click)="sortBy.emit('addedOn')">Added On</div>
      <div class="cell" (click)="sortBy.emit('username')">Username</div>
      <div class="cell center" (click)="sortBy.emit('currentLevel')">Level</div>
      <div class="cell"></div>
    </div>
    <ng-container *ngFor="let referral of referrals">
      <ng-container *ngIf="referral && referral.active && (!referral.hidden || showHidden) && !referral.removed">
        <div *ngIf="referral" [ngClass]="{'green': (referral.payBeyondLevel < referral.currentLevel && !referral.hold), 'red': referral.hold, 'gray': !referral.currentSponsor, 'row': true, 'stripe-2': referral.hidden }">
          <div class="cell hide-1 nowrap">
            {{referral?.addedOn | date: medium }}
          </div>
          <div class="cell">
            <span class="long-username">{{referral?.username | slice:0:20 }}</span>
            <span class="short-username">{{referral?.username | slice:0:10 }}</span>
          </div>
          <div class="cell nowrap center">
            <ng-container *ngIf="referral.currentSponsor">
              <ng-container *ngIf="!referral?.hold">
                <span>{{referral?.currentLevel}}</span>
                <ng-container *ngIf="referral?.payBeyondLevel < referral?.currentLevel">
                  <span><b>({{ referral?.currentLevel - referral?.payBeyondLevel }})</b></span>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="referral.hold">Hold</ng-container>
            </ng-container>
            <ng-container *ngIf="!referral.currentSponsor">
              <ng-container>T</ng-container>
            </ng-container>
          </div>
          <div class="cell last-cell">
            <button md-icon-button [ngClass]="{'transparent': (!referral?.leveledUp || referral?.hold) , 'primary-background':  (referral.payBeyondLevel < referral.currentLevel && !referral.hold && referral.currentSponsor), 'warn-background': referral?.hold, 'gray': !referral.currentSponsor }"
              (click)="getReferral.emit(referral)">
              <md-icon>remove_red_eye</md-icon>
            </button>
            <md-checkbox #select (change)="selectReferral.emit({id: referral.id, checked: select.checked })"></md-checkbox>
            <!--<button *ngIf="false" md-icon-button md-tooltip="Send Message (Coming Soon)" tooltip-position="before" [ngClass]="{'hide-mail': true, 'transparent': (!referral?.leveledUp || referral?.hold) , 'primary-background':  (referral.payBeyondLevel < referral.currentLevel && !referral.hold), 'warn-background': referral.hold }">
              <md-icon>email</md-icon>
            </button>-->
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>