.ref-footer {
  width: 100%; // display: block;
  overflow: hidden;
  text-align: center;
}

::ng-deep .mat-select-content {
  font-size: 13px;
  color: gray;
}

.footer-td {
  padding: 4px 0 !important;
  .show-hidden {
    text-align: center;
    height: 30px;
    border-top: 1px solid #e0e0e0;
    padding-top: 8px;
    margin-top: 5px;
  }
  mat-select {
    margin-left: 20px;
    height: 30px;
    width: 100%;
  }
}

:host /deep/ .mat-select-value {
  padding-top: 3px;
}

:host /deep/ th.mat-header-cell {
  text-align: left;
  font-size: 14px;
}

:host /deep/ .mat-select-value,
:host /deep/ th.mat-header-cell,
:host /deep/ .mat-slide-toggle-content {
  color: #5d5d5d;
}

:host .mat-cell,
.mat-footer-cell {
  color: rgba(0, 0, 0, 0.82);
}

mat-option {
  text-align: center;
}

mat-select {
  width: 83px;
}

.icon-button-shadow {
  box-shadow: 2px 2px 1px -1.2px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.017);
}

.select-box-shadow {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.02),
    0px 1px 3px 0px rgba(0, 0, 0, 0.03);
}

th mat-select {
  position: relative !important;
  top: -3px !important;
}

.level-select {
  position: relative !important;
  left: -9px;
}

.actions-td,
.actions-th {
  text-align: right;
  white-space: nowrap;
}

.referrals-table {
  width: 100%;
}

.referral-td {
  padding-left: 6px;
}

.level-td {
  text-align: center;
}

.level-td-content {
  position: relative;
  left: -23px;
}

.referrals-table-container {
  margin: 0 auto;
}

.highlight {
  background: #f3f3f3;
}

.view-referral {
  margin-right: 7px;
}

.primary-bold {
  color: #8bc34a !important;
  font-weight: bold;
}

.warn-bold {
  color: #f44336 !important;
  font-weight: bold;
}

#green-key {
  background: green;
  width: 14px;
  height: 14px;
}

#reload-referrals {
  position: relative;
  top: 5px;
  left: 22px;
}

.row.header {
  cursor: pointer;
}

.white-background {
  background: white;
}

@media screen and (max-width: 413px) {
  .hide-1,
  .hide-2 {
    display: none;
  }
  td.mat-cell:first-child,
  th.mat-header-cell:first-child {
    padding: 0 !important;
  }
}

@media screen and (min-width: 413px) and (max-width: 500px) {
  .hide-1 {
    display: none;
  }
  td.mat-cell:first-child,
  th.mat-header-cell:first-child {
    padding: 0 !important;
  }
}

.last-cell {
  white-space: nowrap;
  width: 100%;
}

.stripe-2 {
  color: black;
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, #ccc 10px, #ccc 20px),
    linear-gradient(to bottom, #eee, #999);
}

@media screen and (max-width: 390px) {
  .hide-mail {
    display: none;
  }
}

.long-username {
  display: none;
  @media screen and (min-width: 366px) {
    display: inline;
  }
}

@media screen and (min-width: 366px) {
  .short-username {
    display: none;
  }
}
