<mat-card class="os-page-container" @fade>
  <div id="details" class="details-container">
    <button mat-button routerLink="/offers" color="primary" class="back-button" preserveFragment><mat-icon>keyboard_arrow_left</mat-icon>Back to Offers Page</button>
    <mat-card *ngIf="(creditTotal$ | async) < 1" id="complete-offer" class="os-title-card primary-background"><b>Step 2 :</b> Read and complete</mat-card>
    <mat-card *ngIf="(creditTotal$ | async) > 1" id="important-review" class="accent-background">
      <mat-card-subtitle class="white">Important: Please review the following information before continuing with the offer!</mat-card-subtitle>
    </mat-card>
    <os-offer-details-card *ngIf="offer$ | async" [alreadyCompleted]="alreadyCompleted" [creditTotal]="creditTotal$ | async" [offer]="offer$ | async" [publish]="publish" [userAgent]="userAgent$ | async" (continueToOffer)="continueToOffer($event)"></os-offer-details-card>
  </div>
</mat-card>