md-card {
  margin-bottom: 6px;
}

img {
  max-height: 200px;
  max-width: 200px;
}

.checkbox-row {
  margin: 5px;
  font-size: 17px;
}

.details-container {
  max-width: 800px;
  margin: 0 auto;
}

#important-review {
  text-align: center;
  padding: 10px;
}

.offer-details-page-container {
  min-height: 100%;
}

.offer-section {
  text-align: center;
  p {
    margin-bottom: 5px;
  }
}

#please-note-section {
  font-size: 12px;
}

.dr-table {
  text-align: left;
  margin-top: 30px;
}

.dr-title {
  border-bottom: 1px solid #ffda99;
  border-top: 1px solid #ffda99;
  color: #ffa000;
  padding: 5px;
}

.dr-text {
  padding: 7px;
  text-align: justify;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
