<md-card class="offer-section">
  <md-card-content>
    <div>
      <img [src]="publish ? 'https://levelrewards.com/images/offer-images/' + offer?.filename : (offer?.directImageURL?.length > 1 ? offer?.directImageURL : offer?.imageURL)" [alt]="offer?.displayName">
    </div>
    <p>You are being about to be sent to the <b>{{offer?.displayName}}</b> offer.</p>
    <div class="dr-table">
      <div class="dr-row">
        <div class="dr-title"><b>Description</b></div>
        <div class="dr-text" [innerHTML]="offer?.description"></div>
      </div>
      <div class="dr-row">
        <div class="dr-title"><b>Requirements</b></div>
          <div class="dr-text" [innerHTML]="offer?.requirements"></div>
      </div>
    </div>
  </md-card-content>
  <md-card-actions>
    <ng-container *ngIf="!offer?.tempUnavailable">
      <div *ngIf="!offer?.noCardRequired" class="checkbox-row">Do you agree that you will <b><u>not use a prepaid/gift card</u></b> to complete offer and that if you complete the offer, you <b><u>will keep it at least 75-90% of trial period</u></b>?
      <div class="warn" style="font-size: 12px; line-height: 10px; margin-top: 4px;">*Please <a [routerLink]="['/support', {report: true}]">report</a> if the person who referred you advised you to violate the above rules.</div></div>
      <md-checkbox [hidden]="offer?.noCardRequired" #agree color="primary">I Agree</md-checkbox><br><br>
      <button md-raised-button color="primary" class="white" [disabled]="!agree?.checked && !offer?.noCardRequired" (click)="continueToOffer.emit(offer?.id)">CONTINUE WITH THIS OFFER</button>
    </ng-container>
    <ng-container *ngIf="offer?.tempUnavailable">
      <button md-button class="white warn-background">TEMPORARILY UNAVAILABLE</button>
      <div class="warn">{{offer?.tempUnavailableMessage}}</div>
    </ng-container>
  </md-card-actions>
  <md-card-content>
    Once you have completed the requirements listed above, credit is usually applied to your account
    <span *ngIf="offer?.minTimeToCredit === 0 && offer?.maxTimeToCredit === 0">
    quickly (within 6 hours).
  </span>
    <span *ngIf="offer?.minTimeToCredit === 0 && offer?.maxTimeToCredit !== 0">
    within {{offer?.maxTimeToCredit + ' ' + offer?.maxTimeToCreditType | singleSafe }}.
  </span>
    <span *ngIf="offer?.minTimeToCredit !== 0 && offer?.maxTimeToCredit !== 0">
    within {{offer?.minTimeToCredit }} - {{offer?.maxTimeToCredit + ' ' + offer?.maxTimeToCreditType | singleSafe }} .
  </span> Until the sign up is reported to us, you will not see any indication on your account that you have
    completed the offer.
  </md-card-content>
</md-card>
<md-card>
  <md-card-subtitle id="please-note-section">
    Please note: Unless otherwise stated, use of anything other than a valid credit card or bank issued debit card is prohibited
    and will invalidate credit. Use of a promotional or coupon code will also invalidate credit. <span class="warn">Immediate or quick cancellations
    of the product or service will result in your credit being revoked and your account being closed.</span> Please try the
    advertisers product or service to its fullest. Lastly, please do not contact the advertiser if you complete an offer
    and do not receive credit as they will not be able to help. Use our missing credit request form if you are missing
    credit for an offer you have completed.
  </md-card-subtitle>
</md-card>