@import '../../variables.scss';
.contact-sent {
  margin: 0 auto;
  text-align: center;
  color: $primary-color-x-dark;
}

.os-page-container-vh {
  box-shadow: none;
}

mat-input-container {
  width: 100%;
}

mat-card-title {
  color: $primary-color-x-dark;
}

mat-card-subtitle {
  color: $primary-color-x-dark;
  margin-top: 5px;
  margin-bottom: 0;
}

.os-form-container {
  border-top: 5px solid $primary-color;
}

.warn {
  font-size: 10px;
  margin-top: -10px;
}
