<md-card class="os-page-container-vh">
  <md-card class="os-form-container">
    <form *ngIf="!hideForm" [formGroup]="f" (ngSubmit)="submitForm()">
      <md-card-title class="primary">Contact Us</md-card-title>
      <md-input id="email" formControlName="email" placeholder="Your Email Address"></md-input>
      <p class="warn" *ngIf="f.get('email').touched && f.get('email').hasError('required')">Email address is required</p>
      <p class="warn" *ngIf="f.get('email').touched && f.get('email').hasError('pattern')">Email address is invalid</p>
      <md-input id="subject" maxlength="60" placeholder="Subject" formControlName="subject"></md-input>
      <md-textarea rows="5" maxlength="30000" placeholder="Your Question" formControlName="question"></md-textarea>
      <button color="primary" class="white" md-raised-button [disabled]="f.invalid || (sending$ | async)">SEND</button>
    </form>
    <div class="contact-sent" *ngIf="hideForm">
      <h5>Contact Request Sent!</h5>
      <button md-raised-button color="primary" class="white" (click)="hideForm = false">Send Another Contact Message</button>
    </div>
    <br>
    <md-card-subtitle>By Email</md-card-subtitle>
    <p>support@levelrewards.com</p>
    <md-card-subtitle>By Fax</md-card-subtitle>
    <p>(678)960-0253</p>
    <md-card-subtitle>By Mail</md-card-subtitle>
    <p>1749 W Golf Rd #161</p>
    <p>Mount Propect, IL 60056</p>
  </md-card>
</md-card>