@import '../../variables.scss';
h6,
mat-card-title {
  color: $primary-color-x-dark;
}

.os-faq-container {
  position: relative;
  max-width: 696px;
  margin: 0 auto;
  border-bottom: 5px solid $primary-color;
  border-top: 5px solid $primary-color;
}
