<mat-card class="os-page-container">
  <mat-card class="os-form-container">
    <mat-card-title class="primary">Notifications</mat-card-title>
    <div class="button-row">
      <button mat-raised-button color="accent" class="white" style="font-size: 13px" (click)="markAllAsRead()">Mark All As Read</button>
      <button mat-raised-button color="warn" class="white" (click)="deleteAllNotifications()">
        <mat-icon>delete_forever</mat-icon> Delete All</button>
    </div>
    <div class="os-notifications-page-item">
      <os-notifications-page-item *ngFor="let notification of sortedNotifications$ | async" [notification]="notification" (deleteNotifications)="deleteNotifications($event)"
        (markNotificationsAsRead)="markNotificationsAsRead($event)">
      </os-notifications-page-item>
      <div class="no-notifications" *ngIf="!(sortedNotifications$ | async)?.length">
        -- You Have No Notifications --
      </div>
    </div>
  </mat-card>
</mat-card>
