<div *ngIf="notification" class="ntfy-item" [style.background]="notification.read ? 'white' : '#ededed'">
  <span class="ntfy-clickable" [routerLink]="notification.routerLink" (click)="!notification.read ? markNotificationsAsRead.emit({ids: [notification.id], read: true }) : null">
    <div class="ntfy-image"><mat-icon class="ntfy-ico">{{notification.ico}}</mat-icon></div>
    <div class="ntfy-message">{{notification?.message}}</div>
    <div class="ntfy-timestamp">{{notification?.createdAt | timeAgo }}</div>
  </span>
  <mat-icon *ngIf="notification.read" class="ntfy-radio" (click)="markNotificationsAsRead.emit({ids: [notification.id], read: false })">
    radio_button_checked
  </mat-icon>
  <mat-icon *ngIf="!notification.read" class="ntfy-radio" (click)="markNotificationsAsRead.emit({ids: [notification.id], read: true })">
    radio_button_unchecked
  </mat-icon>
  <mat-icon class="ntfy-close" (click)="deleteNotifications.emit([notification.id])">close</mat-icon>
</div>