@import '../../variables';

.ntfy-clickable {
  cursor: pointer;
}

.ntfy-close {
  position: absolute;
  top: 36px;
  right: -9px;
  font-size: 16px;
  color: #a3b78d;
  cursor: pointer;
}

.ntfy-ico {
  font-size: 33px;
  color: $primary-color;
}

.ntfy-item:focus {
	outline: none !important;
}

.ntfy-item {
  position: relative;
  width: 100%;
  // max-width: 400px;
  height: 60px;
  margin-bottom: 2px;
  font-size: 13px;
  overflow: hidden;
  border-bottom: 2px solid #8bc34a;
}

.ntfy-image {
  position: absolute;
  width: 54px;
  height: 54px;
  overflow: hidden;
}

.ntfy-message {
  position: absolute;
  top: 0px;
  left: 58px;
  white-space: normal;
  max-height: 36px;
  overflow: hidden;
  line-height: 1.4;
  width: 80%;
  @media screen and (max-width: 500px) {
    width: 75%;
  }
}

.ntfy-radio {
  position: absolute;
  top: 4px;
  right: -9px;
  font-size: 16px;
  color: #a3b78d;
  cursor: pointer;
}

.ntfy-timestamp {
  position: absolute;
  top: 36px;
  left: 58px;
  font-size: 10px;
}