  <md-card class="os-page-container-vh">
    <md-card class="os-login-form-container">
      <md-card-title>{{forgotPassword ? 'Forgot Password' : 'Login'}}</md-card-title>
        <form [formGroup]="f" (ngSubmit)="submitForm()">
          <os-form-input class="os-form-input" type="email" controlName="email" placeholder="Email Address" name="Email" [form]="f"></os-form-input>
          <os-form-input *ngIf="!forgotPassword" class="os-form-input" type="password" controlName="password" placeholder="Password" name="Password" [form]="f"></os-form-input>
          <button md-raised-button color="primary" [disabled]="!f.valid" type="submit">{{forgotPassword ? 'SEND PASSWORD RESET' : 'LOGIN'}}</button>
        </form>
        <p *ngIf="!forgotPassword" (click)="enableForgotPassword()"><a>Forgot Password?</a></p>
        <p *ngIf="forgotPassword" (click)="cancelForgotPassword()"><a>Login</a></p>
    </md-card>
  </md-card>