<div class="form-group">
  <label>{{label}}</label>
  <input type="number" class="form-control" [step]="step" [min]="min" [max]="max" [formControl]="dynamicControl">
  <button *ngIf="submit" type="submit" [disabled]="!form.valid">{{submit}}</button>
</div>
<div *ngIf="help"><em>{{help}}</em></div>
<div [hidden]="dynamicControl.valid || dynamicControl.untouched || 
      !dynamicControl.errors?.required" class="alert alert-danger">
  {{label}} is required.
</div>
<div [hidden]="dynamicControl.valid || dynamicControl.untouched || 
      dynamicControl.errors?.required" class="alert alert-danger">
  {{errorMessage}}
</div>