<div class="form-group">
  <label *ngIf="label">{{label}}</label>
  <mat-input-container>
    <input matInput type="password" [formControl]="dynamicControl" [placeholder]="placeholder">
  </mat-input-container>
  <button *ngIf="submit" type="submit" [disabled]="!form.valid">{{submit}}</button>
</div>
<!--<div [hidden]="dynamicControl.valid || dynamicControl.untouched || 
      !dynamicControl.hasError('required')" class="alert alert-danger">
  {{name}} is required.
</div>
<div [hidden]="dynamicControl.valid || dynamicControl.untouched || 
      dynamicControl.hasError('required')" class="alert alert-danger">
  {{errorMessage}}
</div>-->