$primary-font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$break-small: 320px;
$break-mobile: 800px;
$break-large: 1200px;
$accent-color: #ffa000;
$primary-color: #8bc34a;
$primary-color-x-dark: #689f38;
$mat-xsmall: 'max-width: 599px';
$mat-small: 'max-width: 959px';
$max-site-width: 'max-width: 1220px';
$site-width: '1220px';
