<span *ngIf="!loggedIn">
  <a routerLink="" queryParamsHandling="preserve">Home</a>
  <a routerLink="login" queryParamsHandling="preserve">Login</a>
  <a routerLink="register" queryParamsHandling="preserve">Register</a>
  <a routerLink="view-offers" queryParamsHandling="preserve">View Offers</a>
  <a routerLink="how-it-works" queryParamsHandling="preserve">How It Works</a>
  <a routerLink="faq" queryParamsHandling="preserve">FAQ</a>
  <a routerLink="proof-pic-gallery" queryParamsHandling="preserve">Proof Pic Gallery</a>
</span>
<span *ngIf="loggedIn">
  <a routerLink="status">Status</a>
  <a routerLink="offers">Offers</a>
  <a routerLink="order">Order</a>
  <a routerLink="support">Support</a>
  <a routerLink="profile">Profile</a>
</span>
<a routerLink="promotions" queryParamsHandling="preserve">Promotions</a>
<button *ngIf="loggedIn" (click)="logout.emit()">Logout</button>
