@import 'variables';

#level-menu-logo {
  height: 53%;
  margin-top: 1px;
  margin-left: 7px;
  @media screen and (max-width: 370px) {
    height: 47%;
    margin-top: 1px;
    margin-left: 7px;
  }
  @media screen and (max-width: 340px) {
    height: 40%;
    margin-top: 1px;
    margin-left: 3px;
  }
}

#my-page-card {
  padding: 0;
  box-shadow: none;
}

.md-sidenav-container {
  background: #ffffff;
}

.ntfy-count-circle {
  z-index: 1;
  position: absolute;
  top: 8px;
  left: 21px;
  width: 19px;
  height: 18px;
  background: #ffb638;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  cursor: pointer;
}

.ntfy-messages-circle {
  z-index: 1;
  position: absolute;
  top: 8px;
  left: 67px;
  width: 19px;
  height: 18px;
  background: #ffb638;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

.ntfy-number {
  color: white;
  font-weight: bold;
  font-size: 11.5px;
  text-align: center;
  margin-left: -0.5px;
  margin-top: -7.5px;
}


.ntfy-nub {
  position: absolute;
  left: 8px;
  top: 35px;
  z-index: 10000;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 17px solid white;
}
.ntfy-drop {
  position: absolute;
  z-index: 9999;
  width: 400px;
  height: 400px;
  background: #f5f5f5;
  top: 52px;
  right: 7px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  @media screen and (max-width: 500px) {
    width: 258px;
    height: 300px;
  }
}

.ntfy-drop-top {
  width: 100%;
  height: 50px;
  background: white;
  font-size: 14px;
  .ntfy-label {
    position: relative;
    top: 15px;
    left: 14px;
  }
  .ntfy-options {
    position: relative;
    left: 290px;
    top: -5px;
    color: #ffb638;
    cursor: pointer;
    width: 100px;
    @media screen and (max-width: 500px) {
      left: 140px;
    }
  }
}

.ntfy-drop-bottom {
  position: absolute;
  top: 370px;
  width: 100%;
  height: 30px;
  background: white;
  font-size: 14px;
  text-align: center;
  @media screen and (max-width: 500px) {
    top: 270px;
  }
  .ntfy-see-all {
    position: relative;
    top: 4px;
    font-weight: 600;
    color: #ffbe4d;
    cursor: pointer;
  }
}

.os-sidenav-top {
  background: $primary-color;
  height: 64px;
  width: 100%;
}

.os-sidenav-top-l {
  background: $primary-color;
  height: 64px;
  width: 100%;
}

.os-toolbar-right {
  position: absolute;
  right: 15px;
  top: 8px;
  @media screen and (min-width: 465px) {
    top: 4px;
  }
  @media screen and (min-width: 601px) {
    top: 12px;
  }
}

.status-bar {
  margin-top: 5px !important;
  #status-back {
    width: 315px;
    height: 45px;
    background-image: url("/assets/svg/status-back.svg");
    background-repeat: no-repeat;
    background-color: #ffffff;
    text-align: center;
    color: white;
    font-size: 13px;
    :nth-child(1) {
      margin-top: 3.5px;
    }
    :nth-child(2) {
      margin-top: -7px;
    }
    #credits-symbol, #earnings-symbol  {
      width: 16px;
      position: relative;
      top: 4.4px;
      margin-right: 2px;
    }
    #level-bar-back {
      width: 90px;
      height: 14.5px;
      background-image: url("/assets/svg/level-bar-back.svg");
      background-repeat: no-repeat;
      background-color: #8CC152;
      margin-left: 7px;
      display: inline-block;
      position: relative;
      top: 1px;
    }
    .level-bar {
      height: 8.7px;
      max-width: 85px;
      background: #fdb217;
      position: relative;
      left: 1px;
      top: 1.8px;
    }
  }
}
