<md-sidenav-layout id="offer-site" fullscreen>
  <md-sidenav [opened]="!mobile && !(onAdminLoginPage$ | async)" #sidenav [mode]="sideNavMode">
    <div class="os-sidenav-top"></div>
    <md-nav-list>
      <template ngFor let-view [ngForOf]="views" let-even="even" let-odd="odd" let-rowIndex="index">
        <a *ngIf="!view.subViews && view.loggedIn === loggedIn" md-list-item style="color: #272b27" [routerLink]="view.link" preserveQueryParams routerLinkActive="active-link" (click)="mobile ? sidenav.close() : null">
          <md-icon md-list-icon>{{view.icon}}</md-icon>
          <span md-line>{{view.name}}</span>
          <span md-line class="secondary">{{view.description}}</span>
        </a> 
        <a *ngIf="view.subViews" md-list-item (click)="setToggle(view)">
          <md-icon md-list-icon>{{view.icon}}</md-icon>
          <span md-line>{{view.name}}</span>
          <span md-line class="secondary">{{view.description}}</span>
        </a>
        <ng-container *ngIf="view.subViews && router.url.startsWith('/' + view.link) && initView || view.show">
          <a *ngFor="let subView of view.subViews" md-list-item [routerLink]="subView.link" class="subview" (click)="mobile ? sidenav.close() : null ">
            <md-icon md-list-icon>navigate_next</md-icon>
            <span md-line>{{subView.name}}</span>
          </a>
        </ng-container>
      </template>
      <a *ngIf="loggedIn" md-list-item style="color: #272b27"  preserveQueryParams routerLinkActive="active-link" (click)="logout(); mobile ? sidenav.close() : null">
        <md-icon md-list-icon>close</md-icon>
        <span md-line>Logout</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle(); toggleMobile()">
      <md-icon style="color: white">menu</md-icon>
    </button>
    <img id="level-menu-logo" src="assets/svg/lr-logo-rev4.svg">
    <div *ngIf="!(onAdminLoginPage$ | async)" class="os-toolbar-right">
      <span [ngSwitch]="loggedIn"></span>
      <button md-tooltip="Not Yet Available" *ngIf="loggedIn" md-icon-button color="primary" (click)="null">
        <md-icon style="color: #e8e8e8;" >notifications</md-icon>
      </button>
      <button md-tooltip="Not Yet Available" tooltip-position="before" *ngIf="loggedIn" md-icon-button color="primary" (click)="null">
        <md-icon style="color: #e8e8e8;" >mail</md-icon>
      </button>
    </div>
  </md-toolbar>
  <md-card id="my-page-card">
    <router-outlet (activate)="activateEvent($event)" (deactivate)="deactivateEvent($event)"></router-outlet>
  </md-card>
</md-sidenav-layout>
<os-store-devtools *ngIf="showMonitor"></os-store-devtools>