p {
  margin-left: 15px;
}

.missing-credit {
  list-style: none;
  margin: -6px 0 0 20px;
  li:before {
    content: '✔';
    margin-left: -1em;
    margin-right: 0.1em;
  }
}

.match {
  font-weight: bold;
  color: red;
}
