@import '../../variables';

.form-group, .os-form-input { 
  margin-bottom: 6px; 
}

.os-form-container {
  border-top: 5px solid $primary-color;
}

mat-checkbox {
  display: block;
  margin: 8px auto 6px;
}

#pending-changes {
  p {
    margin-bottom: 0;
  }
}

#profile-pending {
  margin-bottom: 20px;
}

.hold-container {
  max-width: 600px;
  margin: 0 auto;
}