<mat-card class="os-page-container" @fade>
  <div class="os-support-tickets-table-container">
    <mat-card *ngIf="(openTickets$ | async)?.length > 0" class="os-support-ticket-section">
      <mat-card-title>Open Tickets</mat-card-title>
      <os-support-ticket-table [tickets]="openTickets$ | async" (closeTicket)=closeTicket($event) (sortBy)=sortBy($event)>
      </os-support-ticket-table>
    </mat-card>
    <mat-card *ngIf="(closedTickets$ | async)?.length > 0" class="os-support-ticket-section">
      <mat-card-title>Closed Tickets</mat-card-title>
      <os-support-ticket-table [tickets]="closedTickets$ | async" (closeTicket)=closeTicket($event) (sortBy)=sortBy($event)>
      </os-support-ticket-table>
    </mat-card>
    <mat-card *ngIf="(creditRequests$ | async)?.length > 0" class="os-support-ticket-section">
      <mat-card-title>Credit Requests</mat-card-title>
      <os-credit-request-table [creditRequests]="creditRequests$ | async">
      </os-credit-request-table>
    </mat-card>
    <mat-card class="os-new-support-ticket">
      <mat-card-title>New Support Ticket</mat-card-title>
      <os-support-ticket [addedObs]="added$" [ticketSubject]="ticketSubject"></os-support-ticket>
    </mat-card>
    <br>
    <a [routerLink]="['credit-request']">
      <mat-card id="credit-request-tab" class="os-message-card primary-background white">
        Missing credit for an offer you completed?
        <br>
        <b>Click Here to File a Missing Credit Request.</b>
      </mat-card>
    </a>
  </div>
  <!-- <os-footer></os-footer> -->
</mat-card>
