<md-card [ngClass]="{'offer-face': sideNavOpen, 'offer-face-s-closed': !sideNavOpen }">
  <md-card-subtitle *ngIf="showingAvailable">
    <ng-content select="[offer-card-feature]"></ng-content>
    <md-checkbox *ngIf="addUp" color="primary" (change)="checkOffer.emit({id: offerId, creditValue: creditValue, checked: $event.checked})"></md-checkbox>
  </md-card-subtitle>
  <span class="new" *ngIf="isNew && showingAvailable">New Offer!</span>
  <span class="unlocked" *ngIf="offer.hideToUnQualifiedUsers && qualificationLevel > 0">Offer Unlocked for Levels {{qualificationLevel}}+</span>
  <md-card-title>
    <ng-content select="[offer-card-name]"></ng-content>
    <ng-content select="[offer-card-subtitle]"></ng-content>
  </md-card-title>
  <div [ngClass]="{'offer-card-image': sideNavOpen, 'offer-card-image-s-closed': !sideNavOpen }">
    <ng-content select="[offer-card-image]" md-card-image></ng-content>
  </div>
  <md-card-content style="height: 60px;">
    <div>Credit Value: <ng-content select="[offer-card-value]"></ng-content></div>
    <div>Cost: <ng-content select="[offer-card-cost]"></ng-content></div>
    <div>Credits: <ng-content select="[offer-card-credits]"></ng-content></div>
  </md-card-content>
  <md-card-actions>
    <button md-button color="primary" [routerLink]="['/offers/offer-details', {id: offerId}]">VIEW OFFER</button>
    <ng-container *ngIf="showingAvailable">
      <div *ngIf="!hideLevel && (!creditedOfferIds || creditedOfferIds && !creditedOfferIds.includes(offerId))" class="os-md-card-level">
        <div>Complete and reach</div>
        <div>Level <ng-content select="[offer-card-level]"></ng-content></div>
        <div>Earn up to $<ng-content select="[offer-card-earn]"></ng-content> per referral&#42;</div>
      </div>
      <div *ngIf="!hideLevel && (!creditedOfferIds || creditedOfferIds && creditedOfferIds.includes(offerId))" class="os-md-card-level">
        <div class="completed">Completed</div>
      </div>
      <div *ngIf="hideLevel" class="os-md-card-level">
        <div>Complete and earn</div>
        <div>Partial Credit</div>
        <div>towards reaching level {{(creditTotal + 1) | floor}}</div>
      </div>
    </ng-container>
  </md-card-actions>
</md-card>