.os-offer-card-image-container {
  margin: 0 auto;
}
.os-offer-card-image {
  max-width: 250px; 
  max-height: 100px; 
  display: block; 
  margin: 0 auto;
} 
.os-offer-card-containter, .os-offer-card-containter-s-closed {
  text-align: center;
}
.os-offer-card, .os-offer-card-s-closed {
  display: inline-block;
  text-align: initial;
}
@media screen and (max-width: 807px) {
  .os-offer-card {
    width: 90%;
  }  
  .os-offer-card-containter {
    text-align: left;
  }
}
@media screen and (max-width: 656px) {
  .os-offer-card-s-closed {
    width: 90%;
  }
  .os-offer-card-containter {
    text-align: left;
  }  
}