md-card {
  margin-bottom: 6px;
}

img {
  max-height: 200px;
  max-width: 200px;
}

.details-container {
  max-width: 800px;
  margin: 0 auto;
}

#important-review {
  text-align: center;
  padding: 10px;
}

.offer-details-page-container {
  min-height: 100%;
}

.offer-section {
  text-align: center;
  p {
    margin-bottom: 5px;
  }
}

#please-note-section {
  font-size: 12px;
}