.add-up-instruct {
  text-align: center;
  margin-top: 10px;
}

.credit-value-overlay {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  z-index: 1000;
}

#no-completed-card {
  max-width: 600px;
  margin-top: 10px;
}

md-button-toggle-group {
  margin-right: 5px;
  margin-bottom: 10px;
}

md-slide-toggle { 
  margin: 4px 0;
}

.os-offer-page-header { 
  min-height: 140px; 
  margin: 0 auto;
  @media screen and (min-width: 1416px) {
    width: 1162px;
  }
  @media screen and (max-width: 1415px) {
    width: 862px;
  }
  @media screen and (max-width: 1415px) {
    width: 862px;
  }
  @media screen and (max-width: 1111px) {
    width: 556px;
    height: 328px;
  }
  @media screen and (max-width: 807px) {
    height: 516px;
    width: 90%;
    margin-left: 3px;
  }
}

.os-offer-page-header-s-closed { 
  margin: 0 auto;
  @media screen and (max-width: 655px) {
    width: 90%;
    margin-left: 3px;
  }
  @media screen and (min-width:656px) {
    width: 556px;
  }
  @media screen and (min-width:960px) {
    width: 862px;
  }
  @media screen and (min-width: 1264px) {
    width: 1162px;
  }
}

.os-inner-offer-header, .os-inner-offer-header-s-closed {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 150%;
  margin: -24px;
  :nth-child(1) {
    background: #fafafa;
    width: 33.33%;
  }
  :nth-child(2) {
    background: #f5f5f5;
    width: 33.33%;
  }
  :nth-child(3) {
    background: #fafafa;
    width: 33.33%;
  }
}

.os-inner-offer-header {
  @media screen and (max-width: 1111px) {
    height: 328px;
  }
  :nth-child(1), :nth-child(2) {
    @media screen and (max-width: 807px) {
      width: 98%;
    }
    @media screen and (min-width: 808px) and (max-width: 1112px) {
      width: 50%;
    }
  }
  :nth-child(3) {
   @media screen and (max-width: 1111px) {
      width: 98%;
    }
  }
}

.os-inner-offer-header-s-closed {
  :nth-child(1), :nth-child(2) {
    @media screen and (max-width: 655px) {
      width: 100%;
    }
    @media screen and (min-width: 656px) and (max-width: 959px) {
      width: 50%;
    }
  }
  :nth-child(3) {
   @media screen and (max-width: 960px) {
      width: 100%;
    }
  }
}

.os-offer-header-col {
  height: 188px;
}

.paging {
  text-align: center;
}

.os-offer-display-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

os-offer-rows {
  display: block;
  margin-top: 10px;
  margin-bottom: 16px;
}

.os-offer-page-footer {
  margin-top: 70px;
  p {
    font-size: 11px;
    line-height: 16px;
  }
}

md-progress-circle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}