.featured-offer {
  position: absolute;
}

.description {
  font-size: 79%;
}

.offer-face {
  width: 250px;
  display: inline-block;
  margin: 3px;
  @media screen and (max-width: 807px) {
    width: 100%;
  }
}

.offer-face-s-closed {
  width: 250px;
  display: inline-block;
  margin-top: 5px;
  margin-right: 5px;
  @media screen and (max-width: 656px) {
    width: 100%;
    margin-left: -15px;
    margin-top: 5px;
  }
}

md-card-content {
  padding-top: 15px;
}

.os-md-card-level {
  position: absolute;
  bottom: 15px;
  right: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  :nth-child(2) {
    font-size: 19px;
  }

}

.offer-card-image {
  cursor: pointer;
  @media screen and (min-width: 808px) {
    width: 250px;
    height: 100px;
  }
}

.offer-card-image-s-closed {
  cursor: pointer;
  @media screen and (min-width: 655px) {
    width: 250px;
    height: 100px;
  }
}

.offer-card-image img {
  width: 50px;
}
