<md-card id="offers-page" class="os-page-container">
  <div id="title-card-container">
    <img id="top-instruct" src="assets/svg/offers-top-instruct-ex4.svg">
  </div>
  <div class="os-offer-display-options" [style.display]="((creditTotal$ | async) < 1) ? 'none' : 'flex'">
    <md-button-toggle-group name="selectOption" [(ngModel)]="sortBy" (ngModelChange)="changeSort($event)">
      <md-button-toggle *ngFor="let option of sortByValues; let i = index" [value]="option">
        {{sortByLabels[i]}}
      </md-button-toggle>
    </md-button-toggle-group>
  </div>
  <div *ngIf="!showCompleted" class="paging">
    <os-pages [itemsPerPage]="20" [selectedPage]="pageOffset$ | async" [totalItems]="(offersSorted$ | async)?.length" (pageOffset)="pageOffset$.next($event)"></os-pages>
  </div>
  <div style="margin-top: 10px; margin-bottom: -10px" class="os-offer-display-options">
    <md-slide-toggle style="margin-right: 10px;" *ngIf="(credits$ | async)?.length" [(ngModel)]="showCompleted" color="primary">Show Completed</md-slide-toggle>
    <md-slide-toggle *ngIf="!showCompleted" [(ngModel)]="addUp" (ngModelChange)="checkedOffers$.next([]); checkedOffers = []"
      color="primary">Add Up Offer Credits</md-slide-toggle>
  </div>
  <div *ngIf="addUp && !showCompleted" class="add-up-instruct">
    <p><b>&#8681; Check Offers Below to Calculate &#8681;</b></p>
    <p>Offers Checked: {{offersSelected}}</p>
    <p>Credit Value of Checked: {{offersSelectedCreditValue | number: '1.2-2'}}</p>
    <p>Your Current Level: {{creditTotal$ | async | floor}}</p>
    <p>Your Current Credits: {{(creditTotal$ | async | floor) | number: '1.2-2'}}</p>
    <p>You Will Reach Level: <b>{{offersSelectedCreditValue + (creditTotal$ | async) | floor}}</b></p>
    <p>Your Total Credits Will Be: <b>{{offersSelectedCreditValue + (creditTotal$ | async) | number: '1.2-2'}}</b></p>
    <p>You Could Earn Up to <b>${{(offersSelectedCreditValue + (creditTotal$ | async) | floor) * 5 | number: '1.2-2'}} per referral</b></p>
    <p style="font-size: 10px;">*Checking the offers calculates the level you will reach if you complete them and your maximum earning potential per
      referral
    </p>
  </div>
 <div id="popularity-rank">
   <p>Popularity Rank shows top crediting offers over the last 24 hours</p>
   <p>Last updated: {{(offerRankUpdatedAt$ | async) | date: 'medium' }}</p>
  </div>
  <os-offer-rows [addUp]="addUp" [creditedOfferIds]="creditedOfferIds" [creditTotal]="creditTotal$ | async" [loggedIn]="loggedIn$ | async"
    [showingAvailable]="!showCompleted" [offers]="!showCompleted ? (offers$ | async) : (offersCompleted$ | async)" [sideNavOpen]="sideNavOpen$ | async"
    (checkOffer)="checkOffer($event)" (goToOfferDetails)="goToOfferDetails($event)">
  </os-offer-rows>
  <div *ngIf="!showCompleted" class="paging">
    <os-pages [itemsPerPage]="20" [selectedPage]="pageOffset$ | async" [totalItems]="(offersSorted$ | async)?.length" (pageOffset)="pageOffset$.next($event)" (click)="scrollToStep()"></os-pages>
  </div>
  <md-card id="no-completed-card" class="os-message-card accent-background white" *ngIf="selectedOption === 'Completed' && (offersCompleted$ | async)?.length < 1">
    You Have No Completed Offers. Complete an offer on the Available tab to level up!
  </md-card>
  <md-card *ngIf="!showCompleted && (offers$ | async)?.length > 0" class="os-offer-page-footer">
    <p>*The level you reach determines the maximum amount of earnings you can receive per referral. The actual amount you make
      per referral is determined by the level your referrals reach (level reached multiplied by $5). All orders are subject
      to verification and cross-checks to validate the legitmacy of signups. In certain instances, we may put an account
      on hold until we receive proof of identity (ID/Proof of Address) and in rare instances we may ask for proof that completions
      were legitimate (card/transaction proof). Account holds will only be removed when such information is sent. If we detect
      fraudulent activity, an account may be held indefinetly or suspended. Please try the advertisers offers to the fullest
      and abide by our terms and conditions. </p>
  </md-card>
  <os-footer></os-footer>
</md-card>