<md-card [ngClass]="{'offer-face': sideNavOpen, 'offer-face-s-closed': !sideNavOpen }">
  <md-card-subtitle *ngIf="showingAvailable">
    <ng-content select="[offer-card-feature]"></ng-content>
    <md-checkbox *ngIf="addUp" color="primary" (change)="checkOffer.emit({id: offerId, creditValue: creditValue, checked: $event.checked})"></md-checkbox>
  </md-card-subtitle>
  <md-card-title>
    <ng-content select="[offer-card-name]"></ng-content>
    <ng-content select="[offer-card-subtitle]"></ng-content>
  </md-card-title>
  <div [ngClass]="{'offer-card-image': sideNavOpen, 'offer-card-image-s-closed': !sideNavOpen }">
    <ng-content select="[offer-card-image]" md-card-image></ng-content>
  </div>
  <md-card-content>
    <div>Credit Value: <ng-content select="[offer-card-value]"></ng-content></div>
    <div>Cost: <ng-content select="[offer-card-cost]"></ng-content></div>
    <div>Credits: <ng-content select="[offer-card-credits]"></ng-content></div>
  </md-card-content>
  <md-card-actions>
    <button md-button color="primary" [routerLink]="['../offer-details', {id: offerId}]">VIEW OFFER</button>
    <ng-container *ngIf="showingAvailable">
      <div [md-tooltip]="loggedIn ? 'Calculation based on your current level and credits' : 'Not logged in. Calculated based on starting from level 0.'" *ngIf="!hideLevel" class="os-md-card-level">
        <div>Complete and reach</div>
        <div>Level <ng-content select="[offer-card-level]"></ng-content></div>
        <div>Earn up to $<ng-content select="[offer-card-earn]"></ng-content> per referral&#42;</div>
      </div>
      <div [md-tooltip]="loggedIn ? 'Calculation based on your current level and credits' : 'Not logged in. Calculated based on starting from level 0.'" *ngIf="hideLevel" class="os-md-card-level">
        <div>Complete and earn</div>
        <div>Partial Credit</div>
        <div>towards reaching level {{(creditTotal + 1) | floor}}</div>
      </div>
    </ng-container>
  </md-card-actions>
</md-card>