.os-offer-card-image-container {
  margin: 0 auto;
}
.os-offer-card-image {
  max-width: 250px; 
  max-height: 100px; 
  display: block; 
  margin: 0 auto;
} 
.os-offer-card-containter, .os-offer-card-containter-s-closed {
  text-align: center;
}
.os-offer-card, .os-offer-card-s-closed {
  display: inline-block;
  text-align: initial;
}

.offer-card-feature {
  position: absolute;
  width: 93px;
  left: -2px;
  top: 29px;
}

.offer-card-subtitle {
  font-size: 13px;
}

.shrink-name {
  font-size: 21px;
}

.shrink-name-2 {
  font-size: 18.5px;
}

.shrink-subtitle {
  font-size: 11.5px;
}

@media screen and (max-width: 807px) {
  .os-offer-card {
    width: 90%;
  }  
  .os-offer-card-containter {
    text-align: left;
  }
}
@media screen and (max-width: 656px) {
  .os-offer-card-s-closed {
    width: 90%;
  }
  .os-offer-card-containter {
    text-align: left;
  }  
}

.dark-green {
  color: #689F38;
}